:root {
  --clr-Nav-Background: rgb(133, 54, 54);
  --clr-background-white: rgb(224, 219, 210);
  --clr-indexBg: rgb(66, 25, 22);

  --clr-Borders: rgb(80, 15, 15);
  --clr-fontClrIndex: rgb(146, 28, 28);
  --clr-fontClrWhite: rgb(228, 223, 209);
  --clr-fontClr2: rgb(53, 6, 6);
  --clr-fontDark: rgb(87, 10, 10);
  --clr-fontLightBlue: rgb(78, 78, 209);

  --clr-fontHover: rgb(218, 100, 100);

  --clr-cardBg: rgb(216, 201, 178);
}

body {
  font-family: "Montserrat";
  background-color: var(--clr-background-white);
  color: var(--clr-fontClr2);
  margin: 0px;
  padding: 0px;
  max-width: 1423px;
}

.indexImg {
  position: absolute;
  float: left;
}

.header {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 1;
  transform: translateY(-100px);
  border-bottom: solid 8px var(--clr-fontLightBlue);
}

.imgCard {
  background-color: var(--clr-indexBg);
  grid-column: 4;
  grid-row: 1;
  margin-left: 250px;
  z-index: 1;
  height: 511px;
}

.imgCard h3 {
  font-size: 1.5rem;
  margin-left: 20px;
  padding-bottom: 100px;
  text-align: left;
  color: var(--clr-fontClrWhite);
}

.imgCard h2 {
  font-size: 3rem;
  margin-left: 80px;
  padding-bottom: 0px;
  color: var(--clr-fontLightBlue);
  font-family: "Lato";
}

.imgCard h1 {
  font-size: 5rem;
  text-align: center;
  margin-left: 150px;
  color: var(--clr-fontClrIndex);
  font-weight: 800;
}

.index_img {
  z-index: 1;
  grid-column: 1/3;
  grid-row: 1;
}

.imgSrc {
  background-color: rgba(0, 0, 0, 50%);
  padding: 0px 10px 3px 5px;
  color: rgba(240, 248, 255, 85%);
  position: absolute;
  bottom: 4px;
  right: 240px;
  font-size: x-small;
  border-top-left-radius: 50px;
  cursor: default;
}

.imgSrc > a {
  color: rgba(240, 248, 255, 85%);
  text-decoration: none;
}

.imgSrc > p {
  left: 1px;
  padding-left: 25px;
}

.fun_facts_card {
  background-color: var(--clr-Nav-Background);
  opacity: 90%;
  height: 200px;
  width: 300px;
  position: absolute;
  bottom: 15px;
  left: 10px;
  padding: 5px;
}

.header_text {
  float: right;
  text-align: right;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: darkgray;
  width: 42%;
  height: 253px;
  margin-right: 10px;
  padding: 10px;
}


.index_cards {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.index_card_styles p{
  font-size: 1.5rem;
}

.index_card_styles {
  background-color: var(--clr-cardBg);
  color: var(--clr-fontc);
  border-radius: 5px;
  border-bottom: solid 5px var(--clr-Borders);
  border-top: solid 5px var(--clr-Borders);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  height: 350px;
  width: 230px;
  transition: all ease-in-out .2s;
}

.index_card_styles:hover{
  scale: 1.1;
}

/* Columbus Culture Page */
.card_wrapper {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 5;
  height: 100%;
}
.card {
  border: 5px solid var(--clr-Borders);
  border-radius: 5px;
  background-color: var(--clr-cardBg);
  margin: 10px;
  max-width: 350px;
  transition: all ease-in-out .2s;
}

.card:hover{
  scale: 1.02;
}

.img_card2 {
  grid-column: 2;
  grid-row: 1;
  border: 5px solid var(--clr-Borders);
  border-radius: 5px;
  background-color: var(--clr-cardBg);
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 25px 10px;
  margin-top: 10px;
    transition: all ease-in-out .2s;
}

.img_card2:hover{
  scale: 1.02;
}

.card_img {
  max-width: 500px;
  border-radius: 5px;
  border: 5px dotted var(--clr-Borders);
}
.imgSrc2 > a {
  color: #0066cc;
}
#c_card1 {
  grid-row: 1 / span 5;
}
#c_card2 {
  grid-column: 2;
  grid-row: 3;
}
#c_card3 {
  grid-column: 3;
  grid-row: 3;
}
#c_card4 {
  grid-column: 3;
  height: 375px;
  height: fit-content;
}
.cc_head {
  font-size: x-large;
  padding-left: 3px;
}
.cc_text {
  font-size: x-large;
  padding: 5px;
  word-break: break-word;
}
/*NAVBAR + FOOTER STYLES*/
.nav {
  display: none;
  font-size: 1.5rem;
  background-color: var(--clr-Nav-Background);
  width: 250px;
  min-height: 500px;
  height: 100%;
  z-index: 1;
  padding: 15px;
  text-align: center;
  border-right: 5px solid var(--clr-Borders);
  border-bottom: 5px solid var(--clr-Borders);
  transition: all 0.4s ease;
  position: fixed;
}
.fa-bars {
  cursor: pointer;
}

#displayNone {
  display: none;
}

#nav_icon_index {
  font-size: 1.5rem;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: default;
}

#navbar_index {
  padding: 10px;
  margin: 0px;
  max-width: 0px;
  color: var(--clr-fontClr1);
  height: 80px;
}

#nav_index {
  display: none;
  font-size: 1.5rem;
  width: 250px;
  min-height: 500px;
  height: 100%;
  top: 0px;
  z-index: 1;
  padding: 15px;
  transition: all 0.4s ease;
}

.nav_icon_exit {
  text-align: left;
  color: var(--clr-Borders);
  padding: 10px;
  cursor: pointer;
}

.nav_text {
  text-decoration: none;
  color: var(--clr-fontClr1);
  transition: 0.2s ease-in-out;
}

.nav_text:hover {
  color: var(--clr-fontHover);
}

.navbar {
  padding: 10px;
  margin: 0px;
  max-width: 100%;
  background-color: var(--clr-Nav-Background);
  color: var(--clr-fontClr1);
  height: 80px;
  border-bottom: solid 5px var(--clr-Borders);
}

.navbar h2 {
  font-size: 2.5rem;
  margin-left: 100px;
  margin-top: 0px;
  transform: translateY(-35px);
}

.navbar i {
  font-size: 3rem;
  margin-top: 35px;
}

.footer{
  display: block;
  position: static;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background-color: var(--clr-Nav-Background);
  border-top: solid 6px var(--clr-Borders);
}

.foot-links{
  margin-left: 10px;
  transform: translateY(20px);
}

.foot-links a{
  font-size: 1.5rem;
  color: var(--clr-fontClr2);
  text-decoration: none;
  margin-bottom: 10px;
  transition: ease-in-out .2s;
}

.foot-links a:hover{
  color: var(--clr-fontHover);
}

#srces{
  margin-left: 30px;
}

.socials i{
  margin-left: 10px;
  transform: translateY(80px);
  transition: ease-in-out .2s;
  color: var(--clr-fontClr2);
}

.socials i:hover{
  color: var(--clr-fontHover);
  scale: 0.95;
}

.copy{
  float: right;
  margin-right: 40px;
  transform: translateY(60px);
}

/* Hotels and transport page */
.main {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}
.ht_card {
  border: 5px solid var(--clr-Borders);
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 8px;
  text-align: center;
  margin: 2%;
  margin-left: 25px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 8px;
  width: 45svw;
}
.ht_card2 {
  padding-left: 5px;
  padding-bottom: 8px;
  text-align: center;
  margin: 2%;
  scroll-snap-align: start;
}
#ht_sect2,
#ht_sect {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ht_card1 {
  grid-column: 1;
  grid-row: 1;
  margin-top: 12px;
}
#ht_card1 > hr {
  margin-top: -22px;
  margin-bottom: 26px;
}
#ht_card2 {
  grid-column: 2;
  grid-row: 1;
}
#ht_card2 > hr {
  margin-top: 26px;
  margin-bottom: 26px;
}
#ht_hr {
  width: 35%;
}
.event {
  border: 5px dotted var(--clr-Borders);
  background-color: rgb(216, 201, 178);
  margin-bottom: 10px;
  margin-right: 4px;
  padding-top: 10px;
  height: 240px;
  width: 400px;
}

/*ENTERTAINMENT STYLES*/

.entertainmentCards {
  justify-content: center;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 4;
}

.eCard {
  display: block;
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-color: var(--clr-cardBg);
  height: fit-content;
  width: fit-content;
  transition: all ease-in-out .2s;
  border-radius: 5px;
  border-bottom: solid 5px var(--clr-Borders);
}

.eCard img{
  border-radius: 5px;
} 

.eCard:hover{
  scale: 1.02;
}

#ecard1 {
  grid-row: 1;
  grid-column: 1;
  margin-left: 20px;
}

#ecard2 {
  grid-row: 2;
  grid-column: 1;
  height: fit-content;
  margin-top: -5px;
}

#ecard3 {
  grid-row: 2;
  grid-column: 1/3;
  margin-top: 250px;
}

#ecard4 {
  grid-row: 2;
  grid-column: 2;
  margin-top: -200px;
}

#ecard5 {
  margin-top: -200px;
  grid-row: 2;
  grid-column: 4/5;
}

#ecard6 {
  grid-row: 3;
  grid-column: 4/5;
  margin-top: -320px;
  height: fit-content;
}

#ecard7 {
  column-span: 2/5;
  grid-row: 1;
  grid-column: 2/5;
}

.ecardText{
  position: absolute;
  color: var(--clr-fontClr2);
}

/* I gave up on the media query :( */

/* food page css */
#f_h2 {
  margin-left: 5px;
}
#linkie{
  display: block;
}
#f_src{
  display: none;
  background-color: var(--clr-cardBg);
  border: 1px solid;
}
.f_card_container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 6;
}
.f_card_container a {
  color: black;
  text-decoration: none;
}
.f_card_container a:active {
  color: black;
}
.f_card_container a:visited {
  color: black;
  text-decoration: none;
}
.f_card {
  border: 4px solid var(--clr-Borders);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  height: fit-content;
  width: 33svw;
}
.recs{
  margin-top: 25px;
  margin-left: 100px;
  font-weight: bold;
  font-size: larger;
}
#first_rec{
  grid-row: 1;
  grid-column: 1 / 3;
  padding-left: 200px;
}
#second_rec{
  grid-row: 3;
  grid-column: 1 / 3;
  border-top: 10px solid var(--clr-Borders);
  padding-left: 200px;
}
#third_rec{
  grid-row: 5;
  grid-column: 1 / 3;
  border-top: 10px solid var(--clr-Borders);
  border-width: 10px;
  padding-left: 200px;
}
#first_card {
  grid-column: 1;
  grid-row: 2;
}
#first_card:hover #f_src{
display: block;
}
#fourth_card:hover #f_src{
  display: block;
}
#seventh_card:hover #f_src{
  display: block;
}
.f_img2 {
  border-radius: 50%;
}
#f_img {
  max-height: 21svh;
  border: 2px solid var(--clr-Borders);
  border-radius: 5px;
}
#second_card {
  grid-column: 2;
  grid-row: 2;
  box-shadow: 4px 3px 10px black;
}
#third_card {
  grid-column: 3;
  grid-row: 2;
}
#fourth_card {
  grid-row: 4;
  box-shadow: 4px 3px 10px black;
  margin-top: 90px;
}
#fifth_card {
  grid-row: 4;
  margin-top: 90px;
}
#sixth_card {
  grid-row: 4;
  box-shadow: 4px 3px 10px black;
  height: fit-content;
  margin-top: 45px;
}
#seventh_card{
  grid-row: 6;
  margin-top: 50px;
}
#eighth_card 
{
  grid-row: 6;
  box-shadow: 4px 3px 10px black;
  margin-top: 50px;
}
#nineth_card {
  grid-row: 6;
  height: fit-content;
  margin-top: 45px;
  margin-bottom: 60px;
}

/*SIGHTS PAGE STYLES*/
.sightsHead {
  justify-items: center;
  align-items: center;
}

.sightsImg {
  background-color: var(--clr-indexBg);
  margin-left: 60px;
  margin-top: 20px;
  width: 90%;
  height: 350px;
}

#CO-Wonders{
  font-size: 4rem;
  transform: translateY(135px);
  text-align: center;
  color: var(--clr-background-white);
}

.ThreeSightsCards {
  transform: translateX(-4px);
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
}

.sightsCards {
  background-color: var(--clr-cardBg);
  border-bottom: var(--clr-Borders) solid 5px;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  height: 400px;
  position: relative;
  text-align: center;
  transition: ease-in-out .2s;
}

.sightsCards:hover{
  scale: 1.05;
}

.sightsCards img {
  border-radius: 5px;
  filter: brightness(60%);
  width: 100%;
}

.text {
  position: absolute;
  top: 10%;
  margin-right: 10px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

#card1 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 20px;
  padding: 5px;
}

#card1 .text {
  margin-left: 25px;
}

#card2 {
  grid-column: 2;
  grid-row: 1;
  padding: 5px;
}

#card2 .text {
  padding: 10px;
  top: 25px;
}

#card3 {
  grid-column: 3;
  grid-row: 1;
  padding: 5px;
}

#card4 {
  margin-left: 20px;
  grid-column: 1;
  grid-row: 2;
/*   width: 440px;
  height: 400px; */
  padding: 5px;
}

#card5 {
  grid-column: 2;
  grid-row: 2;
  padding: 5px;
}

#card6 {
  grid-column: 3;
  grid-row: 2;
  padding: 5px;
}

.credit-stuff{
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1404px){
  .eCard{
    width: 400px;
  }

  .eCard img{
    width: 100%;
    height: 100%;
  }

.entertainmentCards {
  justify-content: center;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
}

  #ecard1 {
    grid-row: 1;
    grid-column: 1;
    margin: 10px 0px 10px 0px;
  }
  
  #ecard2 {
    grid-row: 2;
    grid-column: 1;
    margin: 10px 0px 10px 0px;
  }
  
  #ecard3 {
    grid-row: 3;
    grid-column: 1;
    margin: 10px 0px 10px 0px;
  }
  
  #ecard4 {
    grid-row: 4;
    grid-column: 1;
    margin: 10px 0px 10px 0px;
  }
  
  #ecard5 {
    grid-row: 5;
    grid-column: 1;
    margin: 10px 0px 10px 0px;
  }
  
  #ecard6 {
    grid-row: 6;
    grid-column: 1;
    margin: 10px 0px 10px 0px;
  }
  
  #ecard7 {
    grid-row: 7;
    grid-column: 1;
    margin: 10px 0px 10px 0px;
  }

  /*SIGHTS*/
  .ThreeSightsCards {
    transform: translateX(-4px);
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
  }
  #card1 {
    grid-column: 1;
    grid-row: 1;
    margin-left: 20px;
    padding: 5px;
  }
  
  #card1 .text {
    margin-left: 25px;
  }
  
  #card2 {
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
  }
  
  #card2 .text {
    padding: 10px;
    top: 25px;
  }
  
  #card3 {
    grid-column: 1;
    grid-row: 2;
    padding: 5px;
  }
  
  #card4 {
    margin-left: 20px;
    grid-column: 2;
    grid-row: 2;
  /*   width: 440px;
    height: 400px; */
    padding: 5px;
  }
  
  #card5 {
    grid-column: 1;
    grid-row: 3;
    padding: 5px;
  }
  
  #card6 {
    grid-column: 2;
    grid-row: 3;
    padding: 5px;
  }
}

@media screen and (max-width: 1169px){
  /*INDEX*/
  .index_cards{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    margin-top: -35px;
  }

  #index1{
    grid-column: 1;
    grid-row: 1;
  }

  #index2{
    grid-column: 1;
    grid-row: 2;
  }

  #index3{
    grid-column: 1;
    grid-row: 3;
  }

  #index4{
    grid-column: 1;
    grid-row: 4;
  }

  #index5{
    grid-column: 1;
    grid-row: 5;
  }
}

@media screen and (max-width: 1024px){
  /*HOTELS AND TRANS*/
  .main{
    justify-content: center;
  }

  #ht_card2{
      grid-column: 1;
      grid-row: 2;
    }


  /*FOOD*/
  .f_card_container{
    grid-template-columns: 1;
    grid-template-rows: 12;
    justify-content: center;
    align-items: center;
  }
  .f_card{
    justify-content: center;  
    width: 80%;
  }

  .recs{
    margin: 0px;
    float: left;
  }

  #first_rec{
    grid-column: 1;
    grid-row: 1;
  }

  #first_card{
    grid-column: 1;
    grid-row: 2;
  }

  #second_card{
    grid-column: 1;
    grid-row: 3;
  }

  #third_card{
    grid-column: 1;
    grid-row: 4;
  }

  #second_rec{
    grid-column: 1;
    grid-row: 5;
  }

  #fourth_card{
    grid-column: 1;
    grid-row: 6;
  }

  #fifth_card{
    grid-column: 1;
    grid-row: 7;
  }

  #sixth_card{
    grid-column: 1;
    grid-row: 8;
  }

  #third_rec{
    grid-column: 1;
    grid-row: 9;
  }
  
  #seventh_card{
    grid-column: 1;
    grid-row: 10;
  }

  #eighth_card{
    grid-column: 1;
    grid-row: 11;
  }

  #nineth_card{
    grid-column: 1;
    grid-row: 12;
  }

  /*HISTORY*/
  .card_wrapper {
    grid-template-columns: 2;
    grid-template-rows: 5;
  }

  #c_card1 {
    grid-row: 1;
    grid-column: 1;
  }

.img_card2{
  grid-row: 2;
  grid-column: 1;
}

  #c_card2 {
    grid-column: 1;
    grid-row: 3;
  }

  #c_card4 {
    grid-column: 1;
    grid-row: 4;
    height: 375px;
    height: fit-content;
  }
}

@media screen and (max-width: 960px){
  /*HOTELS AND TRANS*/
  .ht_card{
    width: 60svw;
  }
}


@media screen and (max-width: 800px){
  .index_img{
    display: none;
    position: relative;
  }

  .imgCard{
    display: flex;
    margin-left: 0px;
  }

  .imgCard h3{
    margin-top: 80px;
  }

  .imgCard h2 {
    font-size: 3rem;
    margin-left: -150px;
    margin-top: 200px;
  }
  
  .imgCard h1 {
    font-size: 5rem;
    margin-left: -100px;
    margin-top: 300px;
  }

  .header{
    display: block;
  }

  /*SIGHTS*/
  .ThreeSightsCards {
    transform: translateX(-4px);
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 6;
  }

  
  #card1 {
    grid-column: 1;
    grid-row: 1;
    margin-left: 20px;
    padding: 5px;
  }
  
  #card1 .text {
    margin-left: 25px;
  }
  
  #card2 {
    grid-column: 1;
    grid-row: 2;
    padding: 5px;
  }
  
  #card2 .text {
    padding: 10px;
    top: 25px;
  }
  
  #card3 {
    grid-column: 1;
    grid-row: 3;
    padding: 5px;
  }
  
  #card4 {
    margin-left: 20px;
    grid-column: 1;
    grid-row: 4;
  /*   width: 440px;
    height: 400px; */
    padding: 5px;
  }
  
  #card5 {
    grid-column: 1;
    grid-row: 5;
    padding: 5px;
  }
  
  #card6 {
    grid-column: 1;
    grid-row: 6;
    padding: 5px;
  }
}


@media screen and (max-width: 700px){
  /*HOTELS AND TRANS*/
  .ht_card{
    width: 70svw;
  }

  .navbar h2{
    font-size: 2rem;
  }
}

@media screen and (max-width: 630px){
  /*HOTELS AND TRANS*/
  .ht_card{
    width: 80svw;
  }
}
