:root {
  --clr-Nav-Background: rgb(133, 54, 54);
  --clr-background-white: rgb(224, 219, 210);
  --clr-indexBg: rgb(66, 25, 22);

  --clr-Borders: rgb(80, 15, 15);
  --clr-fontClrIndex: rgb(146, 28, 28);
  --clr-fontClrWhite: rgb(228, 223, 209);
  --clr-fontClr2: rgb(53, 6, 6);
  --clr-fontDark: rgb(87, 10, 10);
  --clr-fontLightBlue: rgb(78, 78, 209);

  --clr-fontHover: rgb(218, 100, 100);

  --clr-cardBg: rgb(216, 201, 178);
}

body {
  font-family: "Montserrat";
  background-color: var(--clr-background-white);
  margin: 0px;
  padding: 0px;
}

.indexImg {
  position: absolute;
  float: left;
}

.header {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 1;
  transform: translateY(-100px);
  border-bottom: solid 8px var(--clr-fontLightBlue);
}

.imgCard {
  background-color: var(--clr-indexBg);
  grid-column: 4;
  grid-row: 1;
  margin-left: 250px;
  z-index: 1;
  height: 511px;
}

.imgCard h3{
  font-size: 1.5rem;
  margin-left: 20px;
  padding-bottom: 100px;
  text-align: left;
  color: var(--clr-fontClrWhite);
}

.imgCard h2{
  font-size: 3rem;
  margin-left: 80px;
  padding-bottom: 0px;
  color: var(--clr-fontLightBlue);
  font-family: "Lato";
}

.imgCard h1{
  font-size: 5rem;
  text-align: center;
  margin-left: 150px;
  color: var(--clr-fontClrIndex);
  font-weight: 800;
}

.index_img {
  z-index: 1;
  grid-column: 1/3;
  grid-row: 1;
}

.imgSrc {
  background-color: rgba(0, 0, 0, 50%);
  padding: 0px 10px 3px 5px;
  color: rgba(240, 248, 255, 85%);
  position: absolute;
  bottom: 4px;
  right: 240px;
  font-size: x-small;
  border-top-left-radius: 50px;
  cursor: default;
}
.imgSrc > a {
  color: rgba(240, 248, 255, 85%);
  text-decoration: none;
}
.imgSrc > p {
  left: 1px;
  padding-left: 25px;
}

.fun_facts_card{
  background-color: var(--clr-Nav-Background);
  opacity: 90%;
  height: 200px;
  width: 300px;
  position: absolute;
  bottom: 15px;
  left: 10px;
  padding: 5px;
}

.header_text {
  float: right;
  text-align: right;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: darkgray;
  width: 42%;
  height: 253px;
  margin-right: 10px;
  padding: 10px;
}

.index_cards{
  display: inline-flex;
}

.index_card_styles{
  background-color: var(--clr-cardBg);
  color: var(--clr-fontc);
  border-radius: 5px;
  border-bottom: solid 5px var(--clr-Borders);
  border-top : solid 5px var(--clr-Borders);
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 10px;
  height: 350px;
  width: 230px;
}

/* Columbus Culture Page */
.card_wrapper {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 5;
  height: 100%;
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkgray;
  margin: 10px;
  max-width: 350px;
}
.img_card2 {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 25px 10px;
  margin-top: 10px;
}
.card_img {
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid black;
}
.imgSrc2 > a {
  color: #0066cc;
}
#c_card1 {
  grid-row: 1 / span 5;
}
#c_card2 {
  grid-column: 2;
  grid-row: 3;
}
#c_card3 {
  grid-column: 3;
  grid-row: 3;
}
#c_card4 {
  grid-column: 3;
  height: 375px;
  height: fit-content;
}
.cc_head {
  font-size: x-large;
  padding-left: 3px;
}
.cc_text {
  font-size: x-large;
  padding: 5px;
  word-break: break-word;
}
/*NAVBAR + FOOTER STYLES*/
.nav {
  display: none;
  font-size: 1.5rem;
  background-color: var(--clr-Nav-Background);
  width: 250px;
  min-height: 500px;
  height: 100%;
  z-index: 1;
  padding: 15px;
  text-align: center;
  border-right: 5px solid var(--clr-Borders);
  border-bottom: 5px solid var(--clr-Borders);
  transition: all 0.4s ease;
  position: fixed;
}
.fa-bars {
  cursor: pointer;
}

#displayNone {
  display: none;
}

#nav_icon_index {
  font-size: 1.5rem;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: default;
}

#navbar_index {
  padding: 10px;
  margin: 0px;
  max-width: 0px;
  color: var(--clr-fontClr1);
  height: 80px;
}

#nav_index {
  display: none;
  font-size: 1.5rem;
  width: 250px;
  min-height: 500px;
  height: 100%;
  top: 0px;
  z-index: 1;
  padding: 15px;
  transition: all 0.4s ease;
}

.nav_icon_exit{
  text-align: left;
  color: var(--clr-Borders);
  padding: 10px;
}

.nav_text {
  text-decoration: none;
  color: var(--clr-fontClr1);
  transition: 0.2s ease-in-out;
}

.nav_text:hover {
  color: var(--clr-fontHover);
}

.navbar {
  padding: 10px;
  margin: 0px;
  max-width: 100%;
  background-color: var(--clr-Nav-Background);
  color: var(--clr-fontClr1);
  height: 80px;
  border-bottom: solid 5px var(--clr-Borders);
}

.navbar h2 {
  font-size: 2.5rem;
  margin-left: 100px;
  margin-top: 0px;
  transform: translateY(-35px);
}

.navbar i {
  font-size: 3rem;
  margin-top: 35px;
}

/* .footer {
} */

/* Hotels and transport page */
.main {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  
}
.ht_card {
  border: 2px solid var(--clr-Borders);
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 8px;
  text-align: center;
  margin: 2%;
  margin-left: 25px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 8px;
}
.ht_card2{
  padding-left: 5px;
  padding-bottom: 8px;
  text-align: center;
  margin: 2%;
  scroll-snap-align: start;
}
#ht_sect2, #ht_sect{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#ht_card1 {
  grid-column: 1;
  grid-row: 1;
  width: 45svw;
  margin-top: 12px;
}
#ht_card1 > hr{
  margin-top: -22px;
  margin-bottom: 26px;
}
#ht_card2 {
  grid-column: 2;
  grid-row: 1;
  width: 45svw;
}
#ht_card2 > hr{
  margin-top: 26px;
  margin-bottom: 26px;
}
#ht_hr {
  width: 35%;
}
.event {
  border: 2px dotted var(--clr-Borders);
  background-color: rgb(216, 201, 178);
  margin-bottom: 10px;
  margin-right: 4px;
  padding-top: 10px;
  height: 240px;
  width: 400px;
}

/*ENTERTAINMENT STYLES*/

.entertainmentCards{
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 4;
}

.eCard{
  display: block;
  position: static;
  text-align: center;
  font-size: 3rem;
  margin: 10px;
  background-color: #0066cc;
}

#ecard1{
  grid-row: 1/4;
  grid-column: 1/2;
  height: 600px;
}

#ecard2{
  grid-row: 1;
  grid-column: 2;
  height: 200px;
}

#ecard3{
  grid-row: 1;
  grid-column: 3/5;
  height: 200px;
}

#ecard4{
  grid-row: 2/3;
  grid-column: 2;
  height: 380px;
}


#ecard5{
  grid-row: 2;
  grid-column: 3;
  height: 200px;
}


#ecard6{
  grid-row: 2;
  grid-column: 4;
  height: 200px;
}

#ecard7{
  height: 150px;
  column-span: 3/5;
  margin-top: -160px;
  grid-row: 3;
  grid-column: 3/5;
}

/* I gave up on the media query :( */


/* food page css */
#f_h2{
  margin-left: 5px;
}
.f_card_container{
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
}
.f_card{
  border: 2px solid var(--clr-Borders);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  height: 33svh;
  max-width: 30svw;
  width: 33svw;
}
#first_card{
  grid-column: 1;
  grid-row: 1;
}
.f_img2{
  border-radius: 50%;
}
#f_img{
  max-height: 21svh;
  border: 2px solid var(--clr-Borders);
  border-radius: 5px;
}
#second_card{
  grid-column: 2;
  grid-row: 1;
  box-shadow: 3px 3px 3px  black;
}
#third_card{ 
  grid-column: 3;
  grid-row: 1;
}
 #fourth_card{
  box-shadow: 3px 3px 3px black;
  height: 36svh;
}
.review{
  border: 3px solid;
}
#fifth_card{
  height: 36svh;
}
#sixth_card{
  box-shadow: 3px 3px 3px black;
  height: 36svh;
}
/* #seventh_card{
  
} */
#eighth_card{
  box-shadow: 3px 3px 3px black;
}
/* #nineth_card{
  
} */

/*SIGHTS PAGE STYLES*/ 
.sightsHead{
  justify-items: center;
  align-items: center;
  
}

.sightsImg{
  background-color: #0066cc;
  margin-left: 60px;
  margin-top: 20px;
  width: 90%;
  height: 350px;
}

.sightsImgCard{
  background-color: orange;
  height: 200px;
  width: 300px;
  float: right;
  margin-top: 170px;
  margin-right: 20px;
}

.ThreeSightsCards{
  transform: translateX(-4px);
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
}

.sightsCards{
  background-color: var(--clr-cardBg);
  border-bottom: var(--clr-Borders) solid 5px;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 440px;
  height: 400px;
  position: relative;
  text-align: center;
}

.sightsCards img{
  border-radius: 5px;
  filter: brightness(60%);
}

.text{
  position: absolute;
  top: 10%;
  color: rgb(255, 255, 255);
  font-weight: 700;
}


#card1{
  grid-column: 1;
  grid-row: 1;
  margin-left: 20px;
  padding: 5px;
}

#card1 .text{
  margin-left: 25px;
}

#card2{
  grid-column: 2;
  grid-row: 1;
  padding: 5px;
}

#card2 .text{
  padding: 10px;
  top: 25px;
}


#card3{
  grid-column: 3;
  grid-row: 1;
  padding: 5px;
}

#card4{
    margin-left: 20px;
  grid-column: 1;
  grid-row: 2;
  width: 440px;
  height: 400px;
  padding: 5px;
}

#card5{
  grid-column: 2;
  grid-row: 2;
  padding: 5px;
}

#card6{
  grid-column: 3;
  grid-row: 2;
  padding: 5px;
}